@using SharedLib.Models
@using SharedLib.ViewModels
@using Microsoft.AspNetCore.Components.Routing

<table class="table document-table">
    <thead>
        <tr>
            <th>Original Name</th>
            <th>Name</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Documents)
        {
            <tr class="document-table">
                <td>@doc.OriginalDocumentName</td>
                <td>@doc.DocumentName</td>
                <td>@doc.DocumentDate</td>
                <td><button class="btn btn-link action-item" @onclick="() => DocumentDetails(doc.Id)">Details</button>
                <button class="btn btn-link action-item" @onclick="() => DeleteDocument(doc.Id)">Delete</button></td>

                @* <a asp-controller="Document" asp-action="Edit" asp-route-id="@doc.Id">Edit</a> *@
                @* <td><button class="btn btn-link" onclick="doOCR(@doc.Id)">OCR</button></td> *@

            </tr>
        }
    </tbody>
</table>


@code {
    [Parameter] public List<DocumentVM> Documents { get; set; } = new List<DocumentVM>();

    [Inject] private HttpClient Http { get; set; }

    [Inject] private NavigationManager NavigationManager { get; set; }

    private async Task DeleteDocument(int id)
    {
        var response = await Http.DeleteAsync($"api/documents/{id}");
        if (response.IsSuccessStatusCode)
        {
            var docToRemove = Documents.FirstOrDefault(d => d.Id == id);
            if (docToRemove != null)
            {
                Documents.Remove(docToRemove);
                StateHasChanged();
            }
        }
        else
        {
            // Optionally show an error message
        }
    }

    private void DocumentDetails(int id)
    {
        NavigationManager.NavigateTo($"/documents/details/{id}");
    }

    // function doOCR(id)
    // {
    //     console.log("in DoOCR()");
    //     fetch('/document/ocr/' + id)
    //         .then(response =>
    //         {
    //             if (!response.ok)
    //             {
    //                 throw new Error('Network response was not ok');
    //             }
    //             //return response.json();
    //         })
    //         .then(data =>
    //         {
    //             //console.log(data);
    //             //document.getElementById('output').innerText = JSON.stringify(data);
    //         })
    //         .catch(error =>
    //         {
    //             console.error('There has been a problem with your fetch operation:', error);
    //         });
    // }

}
